<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="/">{{ site.title }}</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/cv">CV</a>
        <a href="/publications">Publications</a>
        <a href="https://github.com/d1123g" target="_blank">GitHub</a>
        <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=ufB5pCAAAAAJ" target="_blank">Scholar</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="container">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
